
body{
    background-color: blue;
}
.word_1{
    background-color: brown;
}
.word_2{
    background-color: cadetblue;
}
.word_3{
    background-color: darkcyan;
}
.word_4{
    background-color: darkmagenta;
}